<html>
  <head>
    <meta http-equiv="refresh" content="3; <%= new_user_session_path %>" />
    <style>
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
      }
    </style>
  </head>
  <body bgcolor="black">
    <div class="logo_container">
      <%= image_tag "logo.JPG" %>
    </div>
  </body>
</html>
